//轮播图的样式
 .swiper-wrapper {
            height: auto;
        }

        .swiper-slide img {
            width: 100%;
        }

        .swiper-slide .title {
            font-style: italic;
            font-size: 42px;
            margin-top: 80px;
            margin-bottom: 0;
            line-height: 45px;
        }

        .swiper-pagination {
            position: absolute;
            z-index: 20;
            margin: 0 auto;
            left: 50%;
            bottom: 10px;
        }

        .swiper-pagination-switch {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background: #fff;
            margin-right: 5px;
            opacity: 0.8;
            border: 1px solid #fff;
            cursor: pointer;
        }

        .swiper-visible-switch {
            background: #aaa;
        }

        .swiper-active-switch {
            background: #8ec908;
        }
        .swiper-pagination{left: 50%!important;transform: translateX(-50%)!important;-webkit-transform: translateX(-50%)!important;}
.swiper-slide img{height: auto!important;max-height: 200px!important;}/*max-height: 225px!important;*/
//中间部分到底部的距离
.content{
	padding-bottom: 2.6rem;

}
//底部的图片以及底部的字体设置
.footer-bar{
	background: #fff;
	// border-top: 1px solid #d0d5de;
	 z-index: 400;
	& img{

		font-size: 1rem;
    height: 1.1rem;
    padding: 0;
	}
	& .tab-label{
		font-size: 14px;
	}
	& img{
    margin: 4px 0 0 0;
    line-height: 1em;
    font-size: 14px;
   }
   & p{
   	 margin: 4px 0 0 0;
    line-height: 1em;
    font-size: 14px;
   }
}
//头部字体调整
#header h1{
  line-height: 2.25rem;
}
.title {
  font-size: 16px;
}
//头部的背景颜色
.bar{
  background-color: #fff;
}