//资讯列表
.news-media-list {
    margin: 0;
}
.news-media-list .item-content .item-media {
    width: 34%;
    padding: 0 0.25rem 0 0;
}
.news-media-list .item-content p {
    margin: 0;
}
.news-media-list .item-content .item-media img {
    width: 100%;
    height: 4rem;
}
.news-media-list .item-title {
    font-size: 0.75rem;
}
.news-media-list .item-subtitle {
    font-size: 0.6rem;
    color: #848689;
}
//资讯详情页面
.detail-content .card {
    margin: 0;
    box-shadow: none;
}
.detail-content p {
    font-size: 0.7rem;
    margin: 0.5rem 0;
}
.detail-content p:first-child{
    font-size: 0.75rem;
    font-weight: bold;
    color:#3d4145;
}
.detail-content .detailTime{
    color: #999999;
    /*text-indent:1.5rem;*/
    font-size: 0.6rem;

}
.detail-content .swiper-container {
    margin: 0;
}
 .detailAccount{float: left;margin: 0!important;line-height: 28px; color: #999999!important; font-size: 0.6rem!important;font-weight: normal!important;}
 .detailTime{float: right;margin: 0!important;line-height: 28px;}
 //设置后台文本框放置图片，微信端显示内容
 .card-detail .card-content-inner img{width: 100%;max-height: 250px;}
 //加入我们的按钮
 .we-card .list-block .item-link .item-inner{
    font-size: 14px;
    padding-right: 0;
 }
 .we-card .list-block .item-media + .item-inner {
  margin-left: 0;
}
/*******************************订单详情begin********************************/
*{font-size: 12px;}
.page,.page-group{background: #f9f9f9;}
.o-list-item{background: #FFFFFF;}
.main{height: 100%;overflow-y: scroll;margin-top: 45px;padding-bottom: 125px;}
.o-s-head{padding: 10px;text-align: left;background: #FFFFFF;font-size: 14px;}
.o-s-head i,.o-s-head span{display: inline-block;vertical-align: middle;}
.o-s-head span:nth-of-type(1){margin: 0 5px;}
.o-s-head .icon-right{color: #333333;}
.o-list{padding: 0;margin: 0;font-size: 14px;background: #FFFFFF;}
.o-list img{max-width: 60px;}
.o-list .col-30{word-break: break-all;float: right;}
.o-list .s-price{float: left;color: #ff5757;font-size: 14px;}
.o-list .s-count{float: right;}
.p-list{margin-bottom: 6px;}
.o-list .s-price:before{content:'￥';}
.o-list .s-count:before{content:'x';}
.row .col-20 {
  margin-left: 0;
}
.row .col-80{
    width: 74%;
    margin-left: 4%;
}
.o-list li{padding: 10px 0;border-top: 1px solid #d0d5de;margin: 0 4%;width: 92%;}
// .o-list li:first-child{border: 0;}
/*总价*/
.o-list-total{text-align: left;background: #FFFFFF;width: 100%;}
.o-list-total div{padding:10px 0; margin: 0 4%; border-top:1px solid #d0d5de;}
.o-total-Price{color:#ff5757;float: right;font-size: 14px;}
.o-total-Price:before{content: "￥";}

/*地址*/
.address{padding: 10px 0;background: #FFFFFF;}
.address .col-20 a{display: block;padding:2px 10px;color: #FFFFFF;line-height: 20px;text-align: center;border-radius: 4px;}
.address .add-a,.address .add-c{background: #2cbb0c;}
.address .add-c{margin-bottom: 5px;}
.address .add-e{background: #f77523;}
.address p{margin-top: 0;margin-bottom: 2px;}
.address p span{padding-right: 5px;}
.img-div{width: 100%;height:4px;margin-bottom: 10px;}
.address .list-block .item-content{padding:0;}
.address .item-subtitle{color:#555555!important;font-size: 12px;margin-top: 4px;}
/*支付按钮*/
.pay-btn{display: block;width: 40%;position: absolute;right: 0; top: 0;height: 100%;line-height: 59px; font-size: 16px;color: #FFFFFF;background:#ff6600;text-align: center;}
.cancel-btn{display: block;width: 80%;margin: 0 auto;margin-top: 20px; padding: 10px 0;font-size: 16px;color: #FFFFFF;background:#ff0000;border-radius: 4px;text-align: center;}
/*切换显示地址 判断有无默认地址*/
.f-show{display: inherit;}
.a-show{display: none;}
/*抵扣*/
.discount-box{background: #fff;padding: 5px 2%;margin-top: 10px;}
.discount-box p{color: #999;border-bottom: 1px solid #dadada;margin: 0;padding: 10px 0;}
.discount-box input{width: 100%;height: 40px;border: none;color: #999;}
/*邮费*/

.postage{font-size: 14px;text-align: left; padding: 10px;background: #fff;margin-top: 10px;  position: fixed;bottom: 0;width: 100%;}
.postage>span{font-size: 14px;}
.postage>span i{font-style: normal;color: #ff0000;font-size: 14px;}
.postage p{color: #999;margin: 0;font-size: 12px;}

/*******************************订单详情end*******************************/
/*******************************我的begin********************************/
//头部的内容
.header-card{
    position:relative;
    z-index:1;
    background-color: #fff;
  margin: 0rem;
  height: 8rem; 
  border-bottom: 1px solid #d0d5de; 
}
.header-card .img-bg{
    position:relative;
    z-index:3;
    width: 100%;
    height: 6.8rem;

}
.header-card .weChat-img{
    right: 0.75rem;
    top:15px;
    position:absolute;
    z-index:8;
}
.header-card .head-img{
    left: 38%;
    border:2px solid #ababab;
   margin: 0 auto;
    top:2rem;
    border-radius: 50%;
    position:absolute;
    z-index:8;
}
.header-card h4{
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
    z-index:8;
     position:absolute;
   left: 41%;
    bottom: 15px;
    margin:0;
    padding:0;
}
//我的订单
.info-list {  background: #fff;border-bottom: 1px solid #d0d5de;}

 .list-item {  position: relative;  height: 50px;  line-height: 50px;  padding: 0 45px 0 15px;  font-size: 14px;  border-bottom: 1px solid #dadada;  width: 100%;  display: block;background-color: #fff;   }
        .list-item .list-icon {  display: inline-block;  width: 22px;  height: 25px;  text-align: center;  margin-right: 6px;  }
        .list-item .list-icon img {  display: inline-block;  vertical-align: middle;width: 22px;height:25px;  }
        .list-item:after {  position: absolute;  top: 12px;  right: 15px;  content: '';  display: block;  width: 8px;  height: 16px;  background: url('../images/right.png') no-repeat;  }
.nlist-block {  font-size: 0;  }
.nlist-block a {  display: inline-block;  width: 25%;  margin: 10px 0;  line-height: 1;  text-align: center;  vertical-align: top;  font-size: 12px;  text-align: center; border-right: 1px solid #d0d5de;}
.nlist-block a:last-child{border: none;}
.nlist-block .img-wrap {  width: 35px;  height: 35px;  line-height: 35px;  margin: 0 auto;  }
.nlist-block .img-wrap img {  display: inline-block  }
.nlist-block p{margin:6px 0 0 0 ;}


/*******************************我的end********************************/
/*******************************填写信息begin********************************/
/*关于底部绑定手机按钮*/
.bindBtn,{ width: 90%;  margin: 24px auto 0;}
 .bindBtn .button{ border-radius:4px;  background:#86bb07;  height: 40px;  line-height: 40px;  font-size:16px; border: 1px solid #86bb07;
  color: #fff;}
/*绑定手机页面与活动报名支付页面*/
.bind-content  .card{
    margin-top: 0;
}
.bind-content .card-footer .list-block .item-content {
    padding-right: 0;
}
.bind-content .card-header,
.bind-content.card-footer{
    height: 50px; 
}
.bind-content .card-footer span{
    width: 5.5rem;
    height: 2.25rem;
    background-color: #e01a57;
    text-align: center;
    line-height: 2.25rem;
    color: #fff;
    float: right;
}
.bind-content .list-block .item-title.label {
    font-size: 16px;
    width: 2.4rem;
}
.bind-content  .list-block input[type="number"],.bind-content  .list-block input[type="text"]{
    margin-left: 6px;
    font-size: 14px;
}
.bind-content #codeBtn{
    border-radius: 6px;
    background-color: #86bb07;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
    float: right;
    width: 100px;
    height:1.5rem;
    margin-top: 0.1rem;
}
.bind-content  .card-header:after{
    height:0px;
}
.bind-content .card-footer:before{
    background-color: #d0d5de;
}
.bind-content .list-block{
    width: 100%;

}
/*******************************填写信息end********************************/
/*******************************申请提现begin********************************/
.bank-content .type-card {
    margin-top: 13px;
}

.bank-content .type-card .item-title {
    font-size: 16px !important;
}

.bank-content .type-card .item-after {
    font-size: 14px !important;
}

.bank-content .type-card .item-after-type {
    margin: 0;
}

.bank-content .type-card .card-content {
    border-bottom: 2px solid #eee;
}

.bank-content .type-card .card-header:after {
    height: 1px !important;
    background-color: #d0d5de !important;
}
.bank-content .type-card .last-card-header:after{
    height: 0px !important;
}
.bank-content .type-card .item-inner {
    padding-left: 15px;
}
.bank-content .type-card .list-block .item-content {
    padding: 0;
}

.bank-content .type-card .list-block .item-input {
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 0rem;
}

.bank-content .list-block .item-input input {
    font-size: 14px;
}

.bank-content .to-area {
    margin-left: 15px;
    margin-right: 15px;
}

.bank-content .money-card .card-content .item-title {
    font-size: 16px !important;
}

.bank-content .money-card .item-inner {
    
    padding: 10px 0 10px 15px;
}
.bank-content .money-card .money-wallet{
    color: #999; 
}
.bank-content .money-card .list-block .item-title.label {
    font-size: 28px !important;
    width: 1.5rem;
}

.bank-content .money-card .list-block {
    width: 96%;
    margin: 0 auto;
}

.bank-content .money-card .list-block .item-content {
    padding-left: 8px;
}

.bank-content .money-list-block .item-content {
    border-bottom: 1px  solid #d0d5de;
}

.bank-content .money-card .card-header:after {
    background-color: #ffffff !important;
}

.bank-content .money-item-title {
    color: #999999;
}
#pageTwo input[type=radio] {
    margin-right: 5px;
}

#pageTwo .list-block .item-inner:after {
    background-color: #fff;
}

#pageTwo .item-content {
    border-bottom: 1px solid #dadada;
}

#pageTwo .list-block ul:after {
    background-color: #fff;
}

.way-content .item-title {
    line-height: 3rem;
}

.way-content li {
    border-bottom: 1px solid #dadada;
}

.way-content .list-block ul:after {
    background-color: #fff;
}

.way-content .way-item-title {
    line-height: 1.5rem;
    color: #777777;
}

.wallet-content .wallet-card {
    height: 7rem;
    margin: 0;
    background-color: #00b0ec;
}

.wallet-content .wallet-card h3 {
    text-align: center;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
}

.wallet-content .wallet-card h1 {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
    color: #ffffff;
    font-size: 40px;
}
.type-card .list-block{width: 100%;padding:0 0.75rem;}
.wallet-content .information-card {
    border-top: 1px solid #ddd;
    margin-top: 0;
}

.wallet-content .information-card.way-item-title {
    font-size: 16px;
}

.wallet-content .information-card li {
    border-bottom: 1px solid #dadada;
}

.wallet-content .information-card ul:first-child {
    color: #ffffff;
    background-color: #00b0ec;
}

.wallet-content .information-card .information-item-title {
    font-size: 14px;
}

.wallet-content .information-card .item-subtitle {
    font-size: 12px;
    color: #999999;
}

.wallet-content .status-item-after {

    font-size: 14px;
}
.cashBtn {
    margin:80px auto 0!important;
}
/*******************************申请提现end********************************/